*.cache
AndTelecom/AndTelecom/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AndTelecom/AndTelecom/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AndTelecom/AndTelecom/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.txt
*.suo
*.lock
*.ide
AndTelecom/.vs/AndTelecom/v15/Server/sqlite3/storage.ide-shm
AndTelecom/.vs/AndTelecom/v15/Server/sqlite3/storage.ide-wal
*.pdb
AndTelecom/AndTelecom.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AndTelecom/AndTelecom.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AndTelecom/AndTelecom.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AndTelecom/AndTelecom/obj/AndTelecom.csproj.nuget.g.targets
AndTelecom/AndTelecom/obj/AndTelecom.csproj.nuget.g.props
AndTelecom/AndTelecom.Tests/obj/Debug/netcoreapp2.1/AndTelecom.Tests.csproj.CopyComplete
AndTelecom/AndTelecom.Tests/obj/AndTelecom.Tests.csproj.nuget.g.props
AndTelecom/AndTelecom/AndTelecom.csproj.user
AndTelecom/AndTelecom.Tests/bin/Debug/netcoreapp2.1/nunit_random_seed.tmp
AndTelecom/AndTelecom.Tests/obj/AndTelecom.Tests.csproj.nuget.g.targets
